<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CordnersConfig" type="StockCSV.CordnersConfiguration.CordnerConfigurationSection, StockCSV" restartOnExternalChanges="true" />
  </configSections>
  <connectionStrings>
    <add name="Cordners" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\Conor\Desktop\Cordners Data Dump\;Extended Properties=dBASE III;" providerName="System.Data.SqlClient" />
    <add name="CordnersExcel" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Conor\Desktop\Cordners Data Dump\descriptions.xls;Extended Properties='Excel 12.0;IMEX=1;'" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <CordnersConfig>
    <outputPath Location="C:\Users\Conor\Desktop\Cordners Data Dump\stocknew.csv"></outputPath>
  </CordnersConfig>
</configuration>